<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="category.name">Category</option>
      </select>

    </div>

      
<table class="table table-striped">
<thead>
  <tr>
    <th>Product Name</th>
    <th>Add to cart</th>
<tbody>
  <tr ng-repeat="product in products | filter:query | orderBy:orderProp"">
  	<td> 
  		<dt><a href="#/products/{{product.id}}">{{product.name}}</a> </dt>
  		<dd>{{product.description}}</dd>	
  	</td>
  	<td><button class="btn btn-primary">Add</button></td>
  </tr>
</tbody>    
</table>      

  </div>
</div>

