<div class="container-fluid">
  <div class="row">
    <div class="span6 form-search">
    <h1>Product List</h1>
	  <div class="row offset1">
	      Search: <input ng-model="query" class="search-query">
      </div>
	  <div class="row offset1">
	      filter by category:
	      <select ng-model="category.name">
	      	<option value="">-All-</option>
	        <option value="Food">Food</option>
	        <option value="Gadgets">Gadgets</option>
	      </select>
	  </div>
	  <div class="row offset1">
	      Sort by:
	      <select ng-model="orderProp">
	        <option value="name">Alphabetical</option>
	        <option value="category.name">Category</option>
	      </select>
	   </div>
    </div>
    <div class="span3">
    	<a href="#/products/new" class="btn btn-primary">New Product</a>
    </div>
  </div>

      
<table class="table table-striped">
<thead>
  <tr>
    <th>Product Name</th>
    <th>Category</th>
    <th>Add to cart</th>
<tbody>
  <tr ng-repeat="product in products | filter:query | filter:category.name | orderBy:orderProp"">
  	<td> 
  		<dt><a href="#/product/{{product.id}}">{{product.name}}</a> </dt>
  		<dd>{{product.description}}</dd>	
  	</td>
  	<td>{{product.category.name}}</td>
  	<td><button class="btn btn-primary" ng-click="addProduct(product.id)"><i class="icon-plus-sign"></i> Add</button></td>
  </tr>
</tbody>    
</table>      

</div>

