<div class="container-fluid">
  <div class="row-fluid">
    <div class="form-search">
    <h1>My Shopping Lists</h1>
      <!--Sidebar content-->

      Search: <input ng-model="query" class="search-query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="creationDate">Creation Date</option>
      </select>

    </div>
<table class="table table-striped">
<thead>
  <tr>
  	<th></th>
    <th>Name</th>
    <th>Creation Date</th>
    <th>Total items</th>
    <th>Distinct items</th>
    <th>Bought items</th>
    <th><button ng-click="newSL()" class="btn btn-primary btn-small">New List</button></th>
<tbody>
 <tr ng-repeat="shoplist in shoplists | filter:query | orderBy:orderProp">
  	<td><button class="btn btn-primary"  ng-click="selectSL(shoplist,$index)">Set as current</button>
  	<td><a href="#/shoplists/{{shoplist.id}}">{{shoplist.name}}</a></td>
  	<td>{{shoplist.creationDate}}</td>
  	<td>{{shoplist.itemsTotal}}</td>
  	<td>{{shoplist.itemsDistinct}}</td>
  	<td>{{shoplist.itemsBought}}</td>
  	<td><button class="btn btn-link"  ng-click="deleteSL(index)">Remove</button>
  </tr>
</tbody>    
</table>
    
<ng-form name="newForm">
<table class="table" ng-show="newFormEnabled">
  <tbody>
    <tr>                
        <td>New Shopping list name :
        <input type="text" ng-model="name" required size="30" placeholder="Shopping list Name">
      </td>
      <td>
        <a ng-click="cancelAdd()" class="btn">Cancel</a>
      </td>
      <td>
        <a ng-click="newForm.$valid && addSL()" class="btn btn-primary" ng-disabled="!newForm.$valid">Save Shopping List</a>
      </td>
    </tr>
  </tbody>
</table>    
</ng-form>
  </div>
</div>
